@model WebApp.ViewModel.CardPartialViewModel

<div class="card">
    <div class="card-header">@Model.Header</div>
    <div class="card-body">
        <p>
            @Model.Body
        </p>
    </div>
    <div class="card-footer">

        <button class="btn btn-outline-primary float-right">Save Changes</button>
        <button class="btn btn-outline-danger float-right">Cancel</button>
    </div>
</div>
