<footer class="" style="background-color: black;">
  <div class="container">

    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">About</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="d-block">Out story</a></li>
              <li><a href="#" class="d-block">Awards</a></li>
              <li><a href="#" class="d-block">Our Team</a></li>
              <li><a href="#" class="d-block">Career</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Company</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="d-block">Our services</a></li>
              <li><a href="#" class="d-block">Clients</a></li>
              <li><a href="#" class="d-block">Contact</a></li>
              <li><a href="#" class="d-block">Press</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Resources</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="d-block">Blog</a></li>
              <li><a href="#" class="d-block">Newsletter</a></li>
              <li><a href="#" class="d-block">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 mb-md-0 mb-4">
        <h2 class="footer-heading">Subscribe</h2>
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input type="text" class="form-control rounded-left" placeholder="Enter email address">
            <button type="submit" class="form-control submit rounded-right">Subscribe</button>
          </div>
          <span class="subheading">Get digital marketing updates in your mailbox</span>
        </form>
      </div>
    </div>

  </div>
  <appbutton></appbutton>
</footer>
